.git
.gitignore
.gitattributes
.editorconfig
node_modules
tests
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
.env
.env.*
!.env.example
*.md
docker-compose*.yml
phpunit.xml
.phpunit.cache
.scribe
database/database.sqlite
